<% include ./partials/head.ejs %>
    <h1>Legions, Bullies, and Ghost Bears, Oh My</h1></br>
    <img src="/images/flyers-simon-gagne.jpg"/></br>
    <p class="about">A blog initially dedicated to my musings about the Philadelphia Flyers, but such things cannot be controlled.
       They evolve naturally, or unnaturally, one can never be sure.</p>
<% include ./partials/footer.ejs %>
