* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'flyers';
  src: url('../fonts/Play-Regular.ttf');
}

body {
  background-color: orange;
  text-align: center;
  font-family: 'flyers';
}

header {
  height: 50px;
  margin-bottom: 2em;
}

.nav-bar {
  background-color: black;
  position: fixed;
  width: 100%;
  padding: 1em;
}

.nav-bar li {
  width: 15%;
  display: inline-block;
}

.nav-bar li a {
  color: orange;
  font-size: larger;
}

ul, li {
  list-style: none;
}

.signup-form, .login-form {
  visibility: hidden;
  padding-top: 0.25em;
  display: inline-block;
}

.article-container {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  border: 5px solid black;
}
