<% include ../partials/head.ejs %>
  <h1>Edit Article</h1>
  <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
    <input type="text" name="title" value="<%= article.title %>"></br>
    <textarea wrap="hard" name="body" rows="8" cols="40"><%= article.body %></textarea></br>
    <button>Edit Article</button>
  </form>
<% include ../partials/footer.ejs %>
