<% include ../partials/head.ejs %>
  <h1>Hello, <%= user.username %></h1>
  <div>
    <% for (var i=0; i < user.articles.length; i++) { %>
      <h3><a href="/articles/<%= user.articles[i].id %>"><%= user.articles.title %></a></h3>
    <% } %>
  </div>
  <% if (admin) { %>
  <p>true</p>
  <% } else { %>
    <p>false</p>
    <% } %>
<% include ../partials/footer.ejs %>
